---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="terminal-window" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>C#/.NET</h2>
		<p>Developed on a C# WPF Windows desktop investigations app using MVVM architecture to design custom controls in XAML.</p>
		<!-- <p>Architected and released a Risk Search RESTful API using MVC, responsible for discussions and refining project requirements with both our team and a third-party, resulting in well-defined project milestones and smoother release cycles.</p> -->
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="trophy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Angular</h2>
		<p>Created an Angular map application that dynamically loaded map tiles from a variety of data providers with an overlay to plot and visually represent entity and relationship metadata.</p>
		<!-- <p>Composed an Angular multi-user collaborative text editor to document and share investigatory findings, designing components with rich-text functionality and the ability to export to PDF, DOCX.</p> -->
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="strategy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>AWS Cloud</h2>
		<p>Setup a scalable AWS Appstream cloud environment to host instances of the client orchestrated by GitHub Actions to handle image generation and stack.</p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
